
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: rgb(70, 10, 222);
  text-align: center;
  color: rgb(255, 253, 253);
} */
.footer {
  padding: 30px;
  bottom: 0;
  text-align: center;
  background: #366af9;
  color: white;
  font-size: 30px;
}
/* 
body {
  background-color: #264653 !important;
}

* {
  margin: 0;
  padding: 0;
} */

/* Header */

/* nav {
  padding: 0 !important;
}
.header {
  background-color: #2a9d8f !important;
}

.navbar-brand,
.nav-link {
  color: white !important;
  font-family: "Rubik Doodle Shadow";
}

.navbar-brand {
  font-size: 3em !important;
  color: white !important;
} */

/* Buttons */
/* 
.logoutBtn {
  margin: auto;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.btn {
  background-color: #e76f51 !important;
  border: #e76f51 !important;
  font-family: "Rubik Doodle Shadow" !important;
  font-size: 2em !important;
} */